.container {
  display: flex;
  justify-content: space-between;
}

.box {
  display: inline-block;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 10px;
  width: 150px;
  height: 300px;
  margin: 5%;
}

.lef {
  width: 40%;
  justify-content: space-between;
}

.rei {
  width: 40%;
  justify-content: space-between;
}

.box>p {
  display: block;
  align-items: center;
}
.box>h1 {
  padding-left: 40%;
}
.box>img{
  margin: auto;
  display: block;
}

.mid {
  width: 20%;
  display: block;
  text-align: center;
}


.footer{
  margin-left : 80px;
  font-size : 18px;
}
